/* Reset some default browser styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background-color: #f7f3e9; */
    background-color: #cbd6f5;
}

/* Center the content vertically and horizontally */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style for the password change form */
.password-form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

/* Style for form headings */
.form-heading {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Style for input fields */
.input-field {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Style for the "Change Password" button */
#change-password-btn {
    background-color: #cbd6f5;
    color:black;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

/* Style for error messages */
.error-message {
    color: red;
    margin-top: 10px;
}

/* Style for success messages */
.success-message {
    color: green;
    margin-top: 10px;
}

/* Style for the "Back to Dashboard" link */
.back-to-dashboard {
    position: absolute;
    
    top: 10px;
    right: 10px;
    height:35px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

/* Style for the "Back to Dashboard" link on hover */


/* Style for form labels */
.form-label {
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}
