/* Resetting default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0; /* Ensure no default margins */
}

header {
    background-color: #4267b2;
    padding: 15px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#logoutBtn {
    font-weight: 900;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #ff9f43;
  color: #fff;
  margin-right: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#logoutBtn:hover {
    background-color: #e88e39;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.totalComplaint, .singleComplaint {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    gap: 20px; /* Adjust spacing between sections */
    padding: 20px;
    border-radius: 10px;
}

.totalComplaint {
    background-color: #e0f7fa;
}

.singleComplaint {
    background-color: #f1f8e9;
    display: none; /* Initially hide single complaint section */
}

.total, .single {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 30%; /* Adjust width of complaint sections */
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.total:hover, .single:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.total h2, .single h2 {
    margin: 0 0 10px;
    font-size: 1.2em;
    color: #333;
}

.total span, .single span {
    font-size: 2em;
    color: #4267b2;
}

.select {
    text-align: center;
    margin: 40px 0;
    padding: 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff3e0;
    border-radius: 10px;
}

#IssueSelect {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 200px;
    margin-top: 10px;
}

#viewBtn {
    background-color: #4267b2;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#viewBtn:hover {
    background-color: #365899;
    transform: scale(1.05);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .totalComplaint, .singleComplaint {
        flex-direction: column;
        gap: 10px; /* Adjust smaller gap for smaller screens */
    }

    .total, .single {
        width: 100%; /* Full width for complaint sections on smaller screens */
    }
}
